<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .conteiner-header{
            font-style: italic;
            background-color: gray; 
            padding: 10px;
            color:black;
        }
        h1 {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        img{
            height: 100px;
        }
    </style>
</head>
<body>
    <center>
        <div class="conteiner-header">
            <h1>
                Recibo de Pagos
            </h1>
         </div>
    </center>
</body>
</html>