<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Docente</title>
    <link rel="stylesheet" href="/css/estilosrecibo.css">
</head>
<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <h2>Recibo de pago</h2>
    <form id="docenteForm">
        <div>
            <label for="num_docente">Número de Docente:</label>
            <input type="number" id="num_docente" name="num_docente" required>
        </div>
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>
        <div>
            <label for="domicilio">Domicilio:</label>
            <input type="text" id="domicilio" name="domicilio" required>
        </div>
        <div>
            <label for="nivel">Nivel:</label>
            <select id="nivel" name="nivel" required>
                <option value="" disabled selected>Seleccione el nivel</option>
                <option value="licenciatura">Licenciatura o Ingeniería</option>
                <option value="maestría">Maestría en Ciencias</option>
                <option value="doctorado">Doctorado</option>
            </select>
        </div>
        <div>
            <label for="pago">Pago por Hora Base:</label>
            <input type="number" id="pago" name="pago" required value="<%= pago %>">
        </div>
        <div>
            <label for="horas">Horas Impartidas:</label>
            <input type="number" id="horas" name="horas" required value="<%= horas %>">
        </div>
        <div>
            <label for="hijos">Número de Hijos:</label>
            <select id="hijos" name="hijos" required>
                <option value="" disabled selected>Seleccione el Numero de hijos</option>
                <option value="1">0 a 2 hijos</option>
                <option value="2">3 a 5 hijos</option>
                <option value="3">Más de 5 hijos</option>
            </select>
        </div>
        <button type="submit">Enviar</button>
        <button id="limpiarBtn">Limpiar</button>
    </form>
    <% let pagobaseincr = 0, pagoHoraBase = 0, bonus = 0 , impuesto=0, totalpago=0 %>
    <% pagoHoraBase = pago * horas%>
    <% if(nivel == 'licenciatura'){ %>
        <% pagobaseincr = pagoHoraBase + pagoHoraBase * 0.30; %>
    <% }else if(nivel == 'maestría'){ %>
        <% pagobaseincr = pagoHoraBase + pagoHoraBase * 0.50; %>
    <% }else if(nivel == 'doctorado'){ %>
        <% pagobaseincr = pagoHoraBase + pagoHoraBase * 1; %>
    <% } %>
    <% if(hijos == '1'){ %>
        <% bonus = pagobaseincr * 0.05 %>
    <% }else if(hijos == '2'){ %>
        <% bonus = pagobaseincr * 0.1 %>
    <% }else if(hijos == '3'){ %>
        <% bonus = pagobaseincr * 0.20 %>
    <% } %>
    <% impuesto = pagobaseincr * 0.16 %>
    <% totalpago = pagobaseincr+bonus-impuesto%>

    <table>
        <thead>
            <tr>
                <td id="">Num. Docente</td>
                <td id="">Nombre</td>
                <td id="">Domicilio</td>
                <td id="">Nivel</td>
                <td id="">Pago hora base</td>
                <td id="">Horas Impartidas</td>
                <td id="">Num.. hijos</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <%= num_docente %> </td>
                <td> <%= nombre %> </td>
                <td> <%= domicilio %> </td>
                <td> <%= nivel %> </td>
                <td> <%= pago %> </td>
                <td> <%= horas %> </td>
                <td> <%= hijos %> </td>
            </tr>
        <thead>
            <tr>
                <td id=""> Pago por horas impartidas </td>
                <td id=""> Pago por Bono (+) </td>
                <td id=""> Pago Impuesto (-) 16% </td>
                <td id=""> Total a Pagar </td>
            </tr>
        </thead>
            <tr>
                <td> <%= pagobaseincr.toFixed(2) %> </td>
                <td> <%= bonus.toFixed(2) %> </td>
                <td> <%= impuesto.toFixed(2) %> </td>
                <td> <%= totalpago.toFixed(2) %> </td>
            </tr>
        </tbody>
</table>
</body>
<script>
    document.getElementById('limpiarBtn').addEventListener('click', function() {

     document.querySelectorAll('input').forEach(function(e) {
        e.value = '';
    });

    document.querySelectorAll('td:not([id])').forEach(function(e) {
        e.textContent = '';
    });});

</script>
<%- include('partials/footer.ejs') %>
</html>
